.search_bar{
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
#btn{
    margin-left: 10px;
    font-size: 20px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 13px ;
    cursor: pointer;
}
#search_bar{
    font-size: 20px;
    border-radius: 13px;
}
.searcher_box{
    margin-top: 23px;
}
select{
    font-size: 20px;
    border-radius: 13px;
    margin-right: 10px ;
}
#regex{
    width: 15px;
    height: 15px;
}
.check_box > label{
    font-size: 17px;
}