.search_bar{
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

input{
    font-size: 20px;
    border-radius: 13px;
}
.searcher_box{
    margin-top: 23px;
}
select{
    font-size: 20px;
    border-radius: 13px;
    margin-right: 10px ;
}
